
table{
    width: 800px;
    margin: auto;
    text-align: center;
    border-collapse: collapse; 
    border: 3px solid blue;
}
th,td{
    border: 2px solid blue;
    width: 30%;
}
button
 {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  top: 180px;
  left: 650px;
  }